@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bannerIcon {
    @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }
  .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
  }
  .bgOpacity {
    @apply bg-black bg-opacity-40;
  }
  .contactInput {
    @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300;
  }
  .contactTextArea {
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none;
  }
}

.active {
  color: white;
  position: relative; /* Required for positioning the underline */
}

.active::after {
  content: ""; /* Creates a pseudo-element for the underline */
  position: absolute;
  bottom: -4px; /* Adjust the gap between text and underline */
  left: 0;
  width: 100%; /* Full width of the text */
  height: 2px; /* Thickness of the underline */
  background-color: #007bff; /* Color of the underline */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes running-border {
  0% {
    border-color: #ff014f;
  }
  35% {
    border-color: #5358de;
  }
  /* 50% {
    border-color: #ffeb3b;
  } */
  65% {
    border-color: #4aafc3;
  }
  100% {
    border-color: #ff014f;
  }
}

.running-border {
  border: 4px solid transparent;
  border-radius: 50%;
  animation: running-border 3s linear infinite;
}

body {
  overflow-x: hidden;
}
